s3://commoncrawl/crawl-data/CC-MAIN-2018-05/wet.paths.gz 
s3://commoncrawl/crawl-data/CC-MAIN-2018-09/wet.paths.gz 
s3://commoncrawl/crawl-data/CC-MAIN-2018-13/wet.paths.gz 
s3://commoncrawl/crawl-data/CC-MAIN-2018-17/wet.paths.gz 
s3://commoncrawl/crawl-data/CC-MAIN-2018-22/wet.paths.gz 
s3://commoncrawl/crawl-data/CC-MAIN-2018-26/wet.paths.gz 
s3://commoncrawl/crawl-data/CC-MAIN-2018-30/wet.paths.gz 
s3://commoncrawl/crawl-data/CC-MAIN-2018-34/wet.paths.gz 
s3://commoncrawl/crawl-data/CC-MAIN-2018-39/wet.paths.gz 
s3://commoncrawl/crawl-data/CC-MAIN-2018-43/wet.paths.gz 
s3://commoncrawl/crawl-data/CC-MAIN-2018-47/wet.paths.gz 
s3://commoncrawl/crawl-data/CC-MAIN-2018-51/wet.paths.gz 