<!DOCTYPE html>
<html>

<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

	<title>WordWideWeb</title>
	<style>
		div {
			font-size: 4vw;
		}
		#logo {
			text-align:center;
		}
		#formarea {
			margin-left:auto;
			margin-right:auto;
			width:60%;
		}
		#words {
			width:30%;
		}
		#buttons {
			position:fixed;
			bottom: 10%;
			left: 25%;
			margin-left:auto;
			margin-right:auto;
			width:30%;
		}
		#submit {
			margin-left: auto;
			margin-right:auto;
		}
	</style>
</head>

<body>
	<div id = "top">
		<h1 id = "logo">WordWideWeb</h1>
	</div>
	<form name = "words" action = "/submit" method = "POST">
		<div id = "formarea">
			<div id = "words">
				<input onkeydown="return alphaOnly(event);" type = "text" class = "form-control" name = "goodWords[]" placeholder = "Word"/>
			</div>
			
		</div>
		<div id = "buttons">
			<button id = "add" class = "btn btn-default" type = "button">Add a word (max 5)</button>
			<button id = "remove" class = "btn btn-default" type = "button">Remove a word (min 1)</button>
			<input id = "submit" type = "submit" class = "btn btn-default" />
		</div>
		
	</form>

	<script type="text/javascript">
		$(document).ready(function(){
		    var maxField = 5; //Input fields increment limitation
		    var addButton = $('#add'); //Add button selector
		    var removeButton = $('#remove');
		    var wrapper = $('#words');
		    var fieldHTML = '<input onkeydown="return alphaOnly(event);" type="text" class = "form-control" name="goodWords[]" placeholder = "Word"/>'; //New input field html 
		    var x = 1; //Initial field counter is 1
		    
		    //Once add button is clicked
		    $(addButton).click(function(){
		        //Check maximum number of input fields
		        if(x < maxField){ 
		            x++; //Increment field counter
		            $(wrapper).append(fieldHTML); //Add field html
		        }
		    });

		    $(removeButton).click(function(){
		    	if (x > 1) {
		    		x--;
		    		$(wrapper).find('input:last').remove()
		    	}
		    });
		});

		function alphaOnly(event) {
			var key = event.keyCode;
			return ((key >= 65 && key <= 90) || key == 8 || key == 13 || key == 9);
		};
	</script>
</body>

</html>
